<div class="mt-4 mb-4">
  <h1>New Place</h1>
</div>

<%= form_with :model => @place do |form| %>
  <div class="mb-4">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </div>
 
    <%= form.submit "Create Place", class: "btn btn-secondary"%>
  </p>
<% end %>

<!--<% if @current_user %>
  <%= form_with :model => @post do |form| %>
    <div class="mb-3">
      <%= form.label "body", class: "form-label" %>
      <%= form.text_field "body", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "image", class: "form-label" %>
      <%= form.text_field "image", class: "form-control" %>
    </div>

    <%= form.submit "Create Post", class: "btn btn-primary" %>
  <% end %>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %> -->
